.container{
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    position: relative;

}

.container::before{
    content: "";
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100vw;
    height: 100px;
    background: #F8F8F8;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header{
    max-width: 1200px;
    position: fixed;
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas: "logo menu btn";

    max-height: 63px;
}

.logo{
    grid-area: logo;

    display: grid;
    grid-template-columns: 150px 40px 94px;
    grid-template-areas: "img line text";
}
.logo_img{
    grid-area: img;

    width: 150px;
    height: 62px;

}
.line{
    grid-area: line;

    margin-top: 37px;
    width: 30px;
    height: 0px;
    border: 1px solid #E0E0E0;
    transform: rotate(90deg);
}
.logo_text{
    grid-area: text;
    margin-top: 25px;
    color: #333333;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
}

.menu{
    grid-area: menu;
}
.nav{
    margin-top: 30px;
}
.nav_item{
    float: left;
    width: max-content;
    margin-left: 70px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
}
.nav_item:hover{
    cursor: pointer;
}
.btn_container{
    grid-area: btn;
}
.btn_container button{
    margin-top: 13px;
    float: right;
    box-sizing: border-box;
    width: 170px;
    height: 50px;
    border-radius: 50px;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(to right, #FBFF32, #FF961C) border-box;
    border: 2px solid transparent;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn_container button:hover{
    width: 172px;
    height: 52px;
    background:
        linear-gradient(to right, #FBFF32, #FF961C) border-box,
        linear-gradient(white, white) padding-box;
}

