.container{
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    position: relative;

}

.container::before{
    content: "";
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100vw;
    height: 100px;
    background: #F8F8F8;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header{
    z-index: 2;
    width: 1200px;
    position: fixed;
    padding: 15px;
    display: flex;

    max-height: 63px;
}

.logo{
    display: flex;
}

.logo_img{
    width: 150px;
    height: 62px;
}

.logo_text_container{
    display: flex;
}
.logo_text_container.auth{
    display: none;
    opacity: 0;
}

.line{
    float: left;
    margin-top: 37px;
    width: 30px;
    height: 0px;
    border: 1px solid #E0E0E0;
    transform: rotate(90deg);
}
.logo_text{
    margin-top: 25px;
    width: 95px;
    color: #333333;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
}

.nav{
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}

.nav_item_container{
    margin-left: 50px;
}

.nav_item_container.auth{
    margin-left: 30px;
}

.nav_item{
    text-decoration: none;

    color: #333333;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
}
.nav_item:hover{
    cursor: pointer;
    color: #FF4736;
}



.btn_container{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.btn_container_btn{
    margin-top: 13px;
    float: right;
    box-sizing: border-box;
    width: 160px;
    height: 50px;
    border-radius: 50px;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(to right, #FBFF32, #FF961C) border-box;
    border: 2px solid transparent;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn_container_btn:hover{
    background:
        linear-gradient(to right, #FBFF32, #FF961C) border-box,
        linear-gradient(white, white) padding-box;
}

.mini_imgs{
    display: flex;
    float: left;
    width: 200px;
    justify-content: space-between;
    margin-right: 30px;
}

.mini_imgs img{
    align-self: center;
}

.mini_imgs img:hover{
    cursor: pointer;
}

.mini_imgs p{
    margin-top: 25px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;

    color: #333333;
}

.btns{
    margin-left: auto;
}

.my_cabinet{
    display: flex;
    align-items: center;

    width: 190px;
    height: 50px;
    border: 0;
    background: #FFDE32;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 120%;

    color: #333333;
}

.my_cabinet img{
    float: left;
    margin-right: 10px;
}




